header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  ul {
    margin-left: 100px;
    li {
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $primary-color;
        opacity: 0.7;
      }
    }
  }
}
